{% extends 'base.html.twig' %}

{% block title %}RiverTransport{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 m-md-4"></div>
        <div class="col-lg-6">
            <br>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <div class="form-row">
                        <div class="form-group text-center col-lg-12 ">
    <h1>RiverTransport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ river_transport.id }}</td>
            </tr>
            <tr>
                <th>Engine</th>
                <td>{{ river_transport.engine }}</td>
            </tr>
            <tr>
                <th>Seats</th>
                <td>{{ river_transport.seats }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ river_transport.weight }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ river_transport.size }}</td>
            </tr>
            <tr>
                <th>FuelCost</th>
                <td>{{ river_transport.fuelCost }}</td>
            </tr>
            <td>
                <a class="btn  btn-outline-dark text-decoration-none" href="{{ path('river_transport_index') }}" role="button">Back to list</a>
            </td>
            <td>
                <a class="btn  btn-outline-dark text-decoration-none" href="{{ path('river_transport_edit', {'id': river_transport.id}) }}" role="button">Edit</a>
            </td>
        </tbody>
    </table>

    {{ include('river_transport/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
