{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="display-2 text-center text-light">🔺️V E H I C L E🔻️</h1>
            <div class="col-lg text-center">
                <br>
                <table class="table text-light">
                    <thead>
                    <tr>
                        <th>Appointment</th>
                        <th>EngineType</th>
                        <th>NumberOfPassengers</th>
                        <th>MaxSpeed</th>
                        <th>FuelCost</th>
                        <th>Weight</th>
                        <th>Size</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vehicle in vehicles %}
                        <tr>
                            <td>{{ vehicle.appointment }}</td>
                            <td>{{ vehicle.engineType }}</td>
                            <td>{{ vehicle.numberOfPassengers }}</td>
                            <td>{{ vehicle.maxSpeed }}</td>
                            <td>{{ vehicle.fuelCost }}</td>
                            <td>{{ vehicle.weight }}</td>
                            <td>{{ vehicle.size }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('vehicle_show', {'id': vehicle.id}) }}" role="button">show</a>
                                <a class="btn btn-success" href="{{ path('vehicle_edit', {'id': vehicle.id}) }}" role="button">edit</a>
                           </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <div class="col-10">
    <a class="btn btn-primary" href="{{ path('vehicle_new') }}" role="button">Create new</a>
    </div>
{% endblock %}
